<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="...">
        </a>
      </div>
      <h4>Welcome {{currentUser.username}}</h4>
      <p><a [routerLink]="['/login']">Logout</a></p>
    </div>
  </nav>
<div class="col-md-6 col-md-offset-3">
   
    
    <!-- <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.age}} {{user.gender}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul> -->
    
</div>  
<div>

    <canvas baseChart [chartType]="'line'" [datasets]="datasets" [options]="options">
  
    </canvas>
  
  </div>