<div class="row" [ngSwitch]="isAuthenticated()">
    <div class="col-md-3" *ngSwitchCase="false">
        <span class="hipster img-fluid rounded">An insulin pump is a medical device used for the administration of insulin in the treatment of diabetes mellitus, also known as continuous subcutaneous insulin therapy. The device configuration may vary depending on design. A traditional pump includes:
            the pump (including controls, processing module, and batteries), a disposable reservoir for insulin (inside the pump), a disposable infusion set, including a cannula for subcutaneous insertion (under the skin) and a tubing system to connect the insulin reservoir to the cannula.
            More recent models may include disposable or semi-disposable designs for the pumping mechanism and may eliminate tubing from the infusion set.An insulin pump is an alternative to multiple daily injections of insulin by insulin syringes or an insulin pen and allows for flexible insulin therapy when used in conjunction with blood glucose monitoring and carbohydrate counting.
        </span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4 hometitle" jhiTranslate="home.title"  *ngSwitchCase="false">Insulin Glucagon Pump</h1>
        <!-- <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p> -->

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success alert-user" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>
            <video id="introvideo" width="720" height="420" controls autoplay *ngSwitchCase="false">
                <source src="../../content/images/intro.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <!-- <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div> -->
            <div class="alert alert-warning home-alert" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.signin">Please click on the link to login : </span>&nbsp;
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">Sign In</a>
            </div>
            <div class="alert alert-warning home-alert" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
            <div class="activity-battery" *ngSwitchCase="true">
                <div class="battery"> 
                    <strong>Battery :</strong>
                    <div class="progress" style="width: 60%;">
                        <div id="batterybar" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <button type="button" class="btn btn-primary battery-button">Recharge</button>
                </div>
                <div class="form-group activity-dropdown">
                    <select class="custom-select">
                      <option selected="">Select Activity from here :</option>
                      <option value="1">Exercise</option>
                      <option value="2">Eating high calorie food</option>
                      <option value="3">Eating low calorie food</option>
                    </select>
                  </div>
            </div>
            <div class="reservoir-div"  *ngSwitchCase="true">
            <div class="reservoir-labels"><h5 class="reservoir-text">Insulin Reservoir</h5><button type="button" (click)="refillInsulin()" class="btn btn-primary reservoir-button">Refill</button></div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
              </div>
              <div class="reservoir-labels"><h5 class="reservoir-text">Glucagon Reservoir</h5><button type="button" class="btn btn-primary reservoir-button">Refill</button></div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
              </div>
            </div>
            <div *ngSwitchCase="true" class="chart-container tab-pane fade active show" id="graph">
                <canvas baseChart [chartType]="'line'" [datasets]="datasets" [options]="options">
                </canvas>
            </div>

              <div *ngSwitchCase="true" class="log-div">
              <ol class="breadcrumb" >
                <li class="breadcrumb-item"><a href="#">Log Messages</a></li>
              </ol>
              <div class="scrollable-messages">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    Insulin injected at 2pm.
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Glucagon injected at 4pm.
                </a>
                <a href="#" class="list-group-item list-group-item-action disabled">
                    Blood sugar level high at 2pm.
                </a>
                <a href="#" class="list-group-item list-group-item-action active">
                    Insulin injected at 2pm.
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Glucagon injected at 4pm.
                </a>
                <a href="#" class="list-group-item list-group-item-action disabled">
                    Blood sugar level high at 2pm.
                </a>
                <a href="#" class="list-group-item list-group-item-action active">
                Insulin injected at 2pm.
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Glucagon injected at 4pm.
                </a>
                <a href="#" class="list-group-item list-group-item-action disabled">
                    Blood sugar level high at 2pm.
                </a>
              </div>
            </div>
             </div>
        </div>

        <!-- <p jhiTranslate="home.question">
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow">follow @jhipster on Twitter</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github">GitHub</a>!
        </p> -->
    </div>
</div>
